body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #009688 !important;
}

.banner {
	width: 100%;
	height: 93vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../img/banner.jpg);
	background-size: cover;
	color: white;
}

.my-card {
	padding: 20px;
	background: white;
}

/* css for login page */
#login .container #login-row #login-column #login-box {
	margin-top: 120px;
	max-width: 600px;
	height: 420px;
	border: 1px solid #9C9C9C;
	background-color: white;
}

#login .container #login-row #login-column #login-box #login-form {
	padding: 20px;
}

#login .container #login-row #login-column #login-box #login-form #register-link
	{
	margin-top: -85px;
}

/* login ends here */

/* side bar design for user dashboard */

/* this is for small device like mobile phone , tab etc */
@media only screen and (max-width: 600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 45px;
		font-weight: bold;
	}
	.content {
		margin-left: 0% !important;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	font-weight: bold;
	z-index: 99;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 35px;
	font-size: 35px;
	cursor: pointer;
	
}
.content {
	margin-left: 20%;
}

.contact_profile_picture{
	height: 35px;
	width: 35px;
	border-radius: 50%;
	border: 1px solid white;
	margin-right:6px;
}


